<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <php>
        <!-- <server name="TWILIO_ACCOUNT_SID" value="Your Twilio account sid" /> -->
        <!-- <server name="TWILIO_API_SECRET" value="Your Twilio API secret" /> -->
    </php>

    <testsuites>
        <testsuite name="SmsSender Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/</directory>
        </whitelist>
    </filter>
</phpunit>
